PROJECT_SLUG=__PROJECT_SLUG__
COMPOSE_PROJECT_NAME=__PROJECT_SLUG__

APP_DOMAIN=__PROJECT_SLUG__.localhost
API_DOMAIN=api.__PROJECT_SLUG__.localhost
DB_DOMAIN=db.__PROJECT_SLUG__.localhost

POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=app
DB_PORT=25432

NUXT_PUBLIC_API_BASE=https://api.__PROJECT_SLUG__.localhost
DATABASE_URL=postgresql://app:app@db:5432/app?serverVersion=17&charset=utf8